<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">Select2 Dropdowns With Autocomplete</span>
        </div>
    </div>
    <div class="portlet-body">

        <form role="form">

            <div class="form-group form-md-line-input row">
                <label class="col-md-2 control-label">Single select</label>
                <div class="col-md-10">
                    <div class="input-group">
                        <div class="input-group-control">
                            <select class="form-control select2"></select>
                        </div>
                        <span class="input-group-btn btn-right">
                            <button class="btn green-haze test-btn-select2-single" type="button">@L("Submit")</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group form-md-line-input row">
                <label class="col-md-2 control-label">Multi select</label>
                <div class="col-md-10">
                    <div class="input-group">
                        <div class="input-group-control">
                            <select class="form-control select2" multiple="multiple"></select>
                        </div>
                        <span class="input-group-btn btn-right">
                            <button class="btn green-haze test-btn-select2-multiple" type="button">@L("Submit")</button>
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="form-group form-md-line-input row">
                <label class="col-md-2 control-label">Tagging support</label>
                <div class="col-md-10">
                    <div class="input-group">
                        <div class="input-group-control">
                            <select class="form-control select2-tagging" multiple="multiple"></select>
                        </div>
                        <span class="input-group-btn btn-right">
                            <button class="btn green-haze test-btn-select2-tagging" type="button">@L("Submit")</button>
                        </span>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>