<div [@routerTransition]>
    <h3 class="form-title">{{l("EmailActivation")}}</h3>
    <p>
        {{l("SendEmailActivationLink_Information")}}
    </p>

    <form #emailActivationForm="ngForm" class="login-form" method="post" novalidate (ngSubmit)="save()">
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">{{l("EmailAddress")}}</label>
            <input [(ngModel)]="model.emailAddress" class="form-control form-control-solid placeholder-no-fix input-ltr" type="text" autocomplete="off" placeholder="{{l('EmailAddress')}}" name="emailAddress" required maxlength="256" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
        </div>

        <div class="form-actions">
            <button [disabled]="saving" routerLink="/account/login" type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{l("Back")}}</button>
            <button type="submit" class="btn btn-success uppercase" [disabled]="!emailActivationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-check"></i> {{l("Submit")}}</button>
        </div>

    </form>
</div>