@model MyCompanyName.AbpZeroTemplate.Web.Views.Shared.Components.AccountLogo.AccountLogoViewModel
<div class="logo">
    <a href="~/">
        <img src="@Model.GetLogoUrl(ApplicationPath)" alt="" width="168" height="33" />
    </a>
</div>